

.categories{
  display: flex;
  align-items: center;
  overflow: scroll ;
  white-space: nowrap;
  border-bottom: 1px solid  rgba(220, 220, 220, 0.58);
  padding: 8px 0px;
}

.categories a{
  text-decoration: none;
  color: gray;
  row-gap: 10px;
  margin: 4px 10px;
}

.categories a:hover{
  color: black;
}

.categories::-webkit-scrollbar {
  display: none;
}
